// Navigation Styles here
.navsec {
    border: yellow;
    margin: 30px 0;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: dashed lightgray;
    width: 125%;
    a {
        font-size: 125%;
        flex-direction: row;
        text-decoration: none;
        color: black;
        border: solid green;
    }
    h1{
        border: 1px solid orange;
        align-items: flex-start;
    }
} 
section {
    border: 1px solid purple;
}
.dest-one {
    margin-left: 15px;
  }